/* -----
SVG Icons - svgicons.sparkk.fr
----- */
.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #ffffff;
}
.svg-icon path:hover,
.svg-icon polygon:hover,
.svg-icon rect:hover {
  fill: #121212;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}
.bg-black{
    background-color: #121212 !important;
}